        * {
            margin: 0;
            border: 0;
            padding: 0;
        }
        
        body {
            font-family: 'Roboto Mono', monospace;
            display: flex;
            flex-direction: column;
            text-transform: uppercase;
        }
        
        header {
            height: 60px;
            width: 100%;
            justify-content: space-between;
            position: fixed;
            color: #d4d4dc;
            padding: 5px;
            font-weight: lighter;
            position: fixed;
            background-color: #1d1e22;
        }
        
        header ul {
            display: flex;
            height: 100%;
            justify-content: flex-end;
            list-style-type: none;
        }
        
        @media only screen and (max-width: 600px) {
            header ul {
                justify-content: space-around;
            }
        }
        
        header li {
            margin-right: 40px;
            align-self: flex-end;
        }
        
        @media only screen and (max-width: 600px) {
            header li {
                margin: 0;
            }
        }
        
        .center {
            width: 100%;
        }
        
        .all {
            padding-top: 70px;
            background-image: linear-gradient(#1d1e22, #393f4d);
            display: flex;
            justify-content: center;
        }
        
        .name {
            background-image: url('../image/background2.jpg');
            background-size: cover;
        }
        
        .text-name {
            align-items: center;
            justify-content: center;
        }
        
        h1 {
            color: #feda6a;
            font-size: 2.2em;
            font-weight: lighter;
            margin-top: 5px;
        }
        
        h2 {
            color: #d4d4dc;
            font-size: 1.3em;
            letter-spacing: 0.5px;
            font-weight: 300;
            margin-top: 5px;
        }
        
        h2::after {
            content: '|';
            margin-left: 5px;
            opacity: 1;
            animation: writing .9s infinite;
        }
        
        @keyframes writing {
            0%,
            100% {
                opacity: 1;
            }
            50% {
                opacity: 0;
            }
        }
        
        .name {
            display: flex;
            align-items: center;
            flex-direction: column;
            justify-content: center;
            height: 550px;
        }
        
        .photo img {
            border-radius: 200px;
            max-width: 200px;
            border-right: 6px solid #feda6a57;
        }
        
        .about-me {
            height: 400px;
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
        }
        
        @media only screen and (max-width: 600px) {
            .about-me {
                height: auto;
            }
        }
        
        p {
            margin-top: 10px;
        }
        
        .about-me_center {
            width: 60%;
        }
        
        @media only screen and (max-width: 600px) {
            .about-me_center {
                width: 80%;
            }
        }
        
        .projects {
            height: 400px;
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            background-color: #1d1e22;
        }
        
        @media only screen and (max-width: 600px) {
            .projects {
                height: 400px;
            }
        }
        
        .projects-box {
            display: flex;
            align-items: center;
            justify-content: space-around;
        }
        
        .projects-box-card {
            width: 100px;
        }
        
        .contact {
            height: 50px;
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            background-color: #feda6a;
        }